.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

.header {
  border-style: ridge;
  border-width: 2px;
  width: 304px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}

.list-item {
  border-style: ridge;
  border-width: 2px;
  width: 304px;
  height: 20px;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
}

.add-item {
  border-style: ridge;
  border-width: 2px;
  width: 304px;
  height: 20px;
  padding: 10px;
  background-color: white;
}

.input {
  padding: 4px;
  width: 220px;
}

.button {
  padding: 4px;
}

.delete-item {
  float: right;
  outline-style: none;
}